<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로젝트</title>
    <!-- 페이지 제목 동적 삽입 -->
    <!-- 폰트어썸 -->
    <script src="https://kit.fontawesome.com/933adb29d6.js" crossorigin="anonymous"></script>
    <!-- 캐러셀 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- sweetalter 라이브러리 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- 기본 css -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/reset.css" /> -->
    <link rel="stylesheet" type="text/css" href="/css/carosel.css" />
    <link rel="stylesheet" type="text/css" href="/css/detailPage.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/guide_stmap.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/css/mainContant.css" />
    <link rel="stylesheet" type="text/css" href="/css/myPage.css" />
    <link rel="stylesheet" type="text/css" href="/css/sign.css" />
    <link rel="stylesheet" type="text/css" href="/css/stampPage.css" />
    <link rel="stylesheet" type="text/css" href="/css/qr.css" />
  </head>
  <script src="/js/common.js"></script>
  <body>
    
    
