<%- include('common/header.ejs') %>
  <div class="container empty-background">
    <div class="content-container">
      <div class="qr-container">
        <p class="wait-text">화면을 인식중입니다.</p>
      </div>  
      <div class="flex-c-c canvas-wrap">
        <!-- 화면 그리기 -->
        <canvas id="canvas" width="300" height="300"></canvas>
      </div>
    </div>
  </div>
  <%- include('common/footer.ejs') %>
  <script src="/js/library/jsQR.js"></script>
  <script src="/js/qr.js"></script>
  </body>
</html>