<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #seupeullaesi_container{
      width: 100%;
      max-width: 430px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #d9d9d9;
    }
  </style>
</head>
<body>

  <div style="width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div id="seupeullaesi_container">
      logo
    </div>
  </div>
</body>
</html>